// @font-face {
//     font-family: 'Gracetians';
//     src: url('./GRACETIANS.otf')  format('opentype'), /* Safari, Android, iOS */

//   }

  // body {
  //   background-color: blue;
  // }

  @font-face {
    font-family: 'Ultra-condensed';
    src: url('assets/fonts/lunar/UltraCondensedSansSerif.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  
  @font-face {
    font-family: 'Chrobot';
    src: url('assets/fonts/lunar/Chrobot.otf')  format('opentype'), /* Safari, Android, iOS */
  }

  
  @font-face {
    font-family: 'Volstead';
    src: url('assets/fonts/lunar/Volstead.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Roboto-condensed';
    src: url('assets/fonts/roboto/RobotoCondensed-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
  }