<div fxLayout="row wrap" fxLayoutAlign="space-around center">

  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>
  <app-events-item></app-events-item>



</div>
