<div [ngClass]="{'circles-spin': spin}" fxHide.lt-lg #mainscene id="main-scene" fxLayout="column"
  fxLayoutAlign="center center">

  <div data-depth="0.08" class="bannerHome">
    <div class="animated-background">
    </div>
  </div>

  <div data-depth="0.18" class="parent" fxLayout="row" fxLayoutAlign.lt-md="center center">
    <div class="circle" fxHide.lt-md>

      <div class="bee-container"><img class="top-bee bee" src="/assets/Images/LunarUtopia/bee2.png" alt=""></div>
      <div class="bee-container"><img class="left-top-bee bee" src="/assets/Images/LunarUtopia/bee3.png" alt=""></div>
      <div class="bee-container"><img class="right-top-bee bee" src="/assets/Images/LunarUtopia/bee3.png" alt=""></div>

      <div class="center-bee-container" (click)="goToTickets()">
        <img class="center-bee-gold" src="/assets/Images/LunarUtopia/bee1_gold.png" alt="">
        <img class="center-bee" src="/assets/Images/LunarUtopia/bee1.png" alt="">
      </div>


      <div class="bee-container"><img class="left-bottom-bee bee" src="/assets/Images/LunarUtopia/bee3.png" alt="">
      </div>
      <div class="bee-container"><img class="right-bottom-bee bee" src="/assets/Images/LunarUtopia/bee3.png" alt="">
      </div>
      <div class="bee-container"><img class="bottom-bee bee" src="/assets/Images/LunarUtopia/bee2.png" alt=""></div>

    </div>

    <div class="lunar-text">

      <div class="header">
        MoonDrum Presents
      </div>

      <div class="luna-utopia">
        <img class="lunar-image" src="/assets/Images/LunarUtopia/lunar_text.png" alt="">
      </div>

      <div class="footer" (mouseover)="this.spin = true" (mouseout)="this.spin = false" (click)="goToTickets()">
        <h3>Honey for life</h3>

        <h4>Gathering and Regeneration Retreat</h4>
        <h4>8 - 10 November</h4>
        <h4 class="timer-grow">{{this.timer}}</h4>

        <h3 style="font-size: 60px">get tickets here!</h3>
      </div>

    </div>
  </div>

  <div data-depth="0.18" class="fractal1">
    <img src="/assets/Images/LunarUtopia/fractal1.png" alt="">
  </div>

  <div data-depth="0.09" class="fractal5">
    <img src="/assets/Images/LunarUtopia/fractal5.png" alt="">
  </div>

  <div data-depth="0.18" class="fractal3">
    <img src="/assets/Images/LunarUtopia/fractal3.png" alt="">
  </div>

  <div data-depth="0.2" class="fractal2">
    <img src="/assets/Images/LunarUtopia/fractal2.png" alt="">
  </div>


</div>

<div fxLayout="column" fxLayoutAlign="center center" class="tablet" fxHide.gt-md>
  <div class="lunar-text">

    <div class="header">
      MoonDrum Presents
    </div>

    <div class="luna-utopia">
      <img class="lunar-image" src="/assets/Images/LunarUtopia/lunar_text.png" alt="">
    </div>

    <div class="footer" (mouseover)="this.spin = true" (mouseout)="this.spin = false" (click)="goToTickets()">
      <h3>Honey for life</h3>
      <h4>Gathering and Regeneration Retreat</h4>
      <h4>8 - 10 November</h4>
      <h4 class="timer-grow">{{this.timer}}</h4>

      <h3 style="font-size: 55px">get tickets here!</h3>
    </div>

  </div>
</div>

<div class="description-container">


  <div  style="background-image:url('/assets/Images/Venue/5.jpg')"></div>

  <div class="event-description" fxLayout="row">

    <div fxFlex="0 0 50" class="event-images">
      <!-- <img src="'/assets/Images/Venue/5.jpg'" alt=""> -->

      <!-- Swiper -->
      <div #testSlider class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/1.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/2.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/3.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/4.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/5.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/6.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/7.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/8.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/9.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/10.jpg')"></div>
        </div>
        <!-- Add Pagination -->
        <div #pagination class="swiper-pagination"></div>
      </div>

    </div>

    <div class="event-text" fxFlex="1 0 50">
      <h3>Lunar Utopia</h3>
      <p>
        Immerse yourself into a world of creative exploration based on collaboration and the spirit of co-operation. We
        are ready to fulfill all your expectations of a meaningful celebration. Join us for this enriching time of
        festivities that you can embrace for your journey to come!
        <br> <br>
        The time to fully realize our potential and awaken - to birth a Freedom of Mind that will catalyze our Ultimate
        Dreams to fruition!
        <br> <br>
        We will expand our way of celebrating through music & art, teaching, sharing and creating regeneration on a
        social, ecological and individual level. See all the nectar filled details below.
        <br> <br>
        All aboard the mother-ship for a festival of creative exploration as we grow community and celebrate freely in
        the
        essence of unity.
      </p>
    </div>

  </div>

  <div class="artists" fxLayout="row">

    <div class="event-text" fxFlex="1 0 50">
      <h3>★ WHAT TO EXPECT ★</h3>

      <p>
        ~ Audio Shamans to take you on booty shaking & heart opening journey
      </p>

      <p>
        ~ Sacred underground Sanctuary with water well for ceremonial healing and therapies
      </p>

      <p>
        ~ Bonfires
      </p>

      <p>
        ~ Drumming
      </p>

      <p>
        ~ Live Music Collaborations
      </p>

      <p>
        ~ Plenty of Yoga & Meditations of various profiles!
      </p>

      <p>
        ~ Craft & Artisan Bar
      </p>

      <p>
        ~ Interactive Art Hub & Outdoor Exhibition!
      </p>

      <p>
        ~ Tribal Market Platform
      </p>

      <p>
        ~ Keynote Speaker Platform
      </p>

      <p>
        ~ Ecological Regeneration Workshops
      </p>

      <p>
        ~ Dance & Wellness & Shamanic Healing!
      </p>


    </div>

    <div class="event-images" fxFlex="0 0 50">
      <img src="/assets/Images/Artists/1.jpg" alt="">
    </div>



  </div>

  <div class="venue-theme" fxLayout="row">

    <div class="event-images" fxFlex="0 0 50">
      <img src="/assets/Images/Venue/59.JPG" alt="">
    </div>

    <div class="event-text" fxFlex="1 0 50">
      <h3>★ VENUE / THEME 2019 ★</h3>

      <p> Eco & rustic with intelligently designed, clean and up to standard facilities while you have a higher quality
        festival experience.</p>

      <p> LUNAR UTOPIA FESTIVAL - HONEY FOR LIFE is excited to bring the tribe an experience of heart-opening, mind
        expanding and wonder-filled celebrations.</p>

      <p>
        Moon Tribe, we invite you to a community gathering of epic proportions!

      </p>

      <p> We invite you to come and regenerate your chi, retreat from your battle in society, ground and let go ~ chill,
        celebrate, and become yourself.</p>


      <p>
        We have chosen to host, for you, a tribal gathering at a very unique, sacred and high-vibration area on our
        planet. Here powerful leylines expand our consciousness just by being in close proximity to them.
      </p>

      <p>
        Come! Be embraced and hugged by nature herself!
      </p>

      <p>

        Walk in lush green pastures and feel refreshing summer breezes in the shade of indigenous trees; with a panacea
        of
        mountain scenery all around you!
      </p>

      <p>
        The venue for our Time of Deep Tribal Connection is tucked away between the Most ancient Magalies-Mountains and
        the Buffelspoort koppies. It is on a crossroads of leylines and is the Home of Honey-keepers! (Outeni means
        'Honey
        keepers' ... the Honey of Life ... Deni or Teni is honey in Khoisan.)
      </p>

      <p> THE EVENT THEME is focused on the Honeybee and it's very intrinsic role within the ecological web of life.
        These
        amazing creatures are the magical balance keepers and true pollinators of creation!</p>

      <p>
        Bees are said to come from Venus, our neighbouring planet, because it looks like a yellow pollen ball! We honour
        them through our gathering by teaching, sharing, empowering, and finally fully enjoying the sweetness that life
        has to offer. We are celebrating our planetary pollinators!</p>

      <p>
        You will discover the original honey-keepers of the Outeniqua! Honey keeping was a sacred art! It is time to
        again
        acknowledge the ancients of this land, and the Mountain Spirits that worked side by side with them.
      </p>

      <p>
        Tranquil spaces yet filled with fun to make you recharge with joy!
      </p>

      <p>
        We will recapture this energy and open our hearts once more to the honey we have inside of us!
      </p>

    </div>

  </div>

</div>



<!-- <div class="circle-container">

  <div class="circle1 circle"></div>
  <div class="circle2 circle"></div>
  
</div> -->
