// .home-container {
//     width: 100%;
//     background-size: 114%;
//     background-position-x: -150px;
//     background-position-y: -185px;
//     height: -webkit-fill-available;
//     background-image: url('../../../../assets/Images/LunarUtopia/lunar_background.png');
//     background-color: black;
//     position: relative;
// }
$veryslow: 1000s;

@mixin spin($duration: 2s ) {
  animation: spin  $duration;
}

////////////////////////////////////////////Mixins///////////////////////////////////@if 
 

.circle {
  width: 600px;
  height: 600px;
  border-radius: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: auto;
  left: -430px !important;
  top: 30px !important;

 .bee {
  transition: transform 3s ease-in-out;
 }

  img {
    width: 80px;
    height: 80px;
  }

  .top-bee {
    top: -140px;
    right: 0;
    left: 0;
    position: absolute;
    margin: auto;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    width: 160px;
    height: 160px;
  }

  .left-top-bee {
    top: 50px;
    left: -100px;
    position: absolute;
    margin: auto;
    width: 160px;
    height: 160px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .left-bottom-bee {
    bottom: 50px;
    left: -100px;
    position: absolute;
    margin: auto;
    width: 160px;
    height: 160px;
    -webkit-transform: scaleX(-1);
    transform: scaleY(-1) scaleX(-1);
  }

  .center-bee {
    top: 20px;
    bottom: 0;
    left: 28px;
    right: 0;
    margin: auto;
    width: 400px;
    height: 280px;
    position: absolute;
    transition: transform 4s ease-in-out, content 4s;
  }

  
  .center-bee:hover {
  // transform: scale(1.3) rotate(180deg);
  transform: rotate(180deg);

  // content:url("/assets/Images/LunarUtopia/bee1_gold.png");
  }

  .right-top-bee {
    top: 50px;
    right: -100px;
    position: absolute;
    margin: auto;
    width: 160px;
    height: 160px;
  }

  .right-top-bee:hover {
    content:url("/assets/Images/LunarUtopia/social-media/fb.png");
  }

  .right-bottom-bee {
    bottom: 50px;
    right: -100px;
    position: absolute;
    margin: auto;
    width: 160px;
    height: 160px;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }

  .bottom-bee {
    bottom: -140px;
    right: 0;
    left: 0;
    position: absolute;
    margin: auto;
    width: 160px;
    height: 160px;
  }

}

.circle:hover {

  .top-bee {
    transform: rotate(180deg) scale(1.1);
  }
  
  .left-top-bee {
    transform: scaleX(-1) scale(1.1);
  }

  .right-top-bee {
    transform: scale(1.1);
  }

  .left-bottom-bee {
    transform: scaleY(-1) scaleX(-1) scale(1.1);
  }

  .right-bottom-bee {
    transform: scaleY(-1) scale(1.1);
  }

  .bottom-bee {
    transform: scale(1.1);
  }


  // .bee {
  //   transform: scale(1.1);
  // }

}

.parent {
  display: flex !important;
  position: absolute !important;
  right: 0;
  margin: auto;
  left: 5px !important;
  top: 143px !important;
  height: 600px;
  z-index: 1;
  pointer-events: all;

  .lunar-text {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 800px !important;
    margin: auto;
    width: 400px;
    height: 500px;
    text-align: center;

    .header {
      font-size: 40px;
      font-family: 'Roboto-condensed';
      text-align: center;
    }

    .lunar-utopia {
      h1 {
        font-size: 140px;
        font-family: 'Ultra-condensed';
      }


    }

    .footer {
      h3 {
        font-family: 'Volstead';
        font-size: 90px;
        font-weight: 100;
       
      }

      h4 {
        font-family: 'Roboto-condensed';
      }
    }

  }
}

.lunar-image {
  width: 300px;
}



#main-scene {
  width: 100%;
  height: 100%;
  min-height: 900px;
  background-color: black;
  position: relative;
  // background-size: 2000px;
  // position: relative;
  // min-height: 900px;
  // position: relative;
}

#flower {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  img {
    height: 100%;
  }
}

#eclipse {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  img {
    height: 100%;
  }
}

.footer {
  h3 {
    font-family: 'Volstead';
    font-size: 80px;
    color: #4e2508;
    font-weight: 100;
    transition: color 2s;
  }

  h4 {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
  }
}

.footer:hover {
  h3 {
    color: gold;
  }
}

.fractal1 {
  display: flex !important;
  position: absolute !important;
  right: 0;
  margin: auto;
  width: 350px;
  top: 730px !important;
  left: 85px !important;
  pointer-events: all;


  img {
    width: 100%;
  }
}

.fractal2 {
  display: flex !important;
  position: absolute !important;
  right: 0;
  margin: auto;
  width: 400px;
  /* height: 400px; */
  top: 365px !important;
  left: 1563px !important;
  @include spin($veryslow);

  img {
    width: 100%;
  }
}

.fractal3 {
  display: flex !important;
  position: absolute !important;
  right: 0;
  margin: auto;
  width: 300px;
  top: 515px !important;
  left: 832px !important;
  @include spin($veryslow);

  img {
    width: 100%;
  }
}

.fractal5 {
  display: flex !important;
  position: absolute !important;
  right: 0;
  margin: auto;
  width: 400px;
  top: 750px !important;
  left: 590px !important;
  @include spin($veryslow);

  img {
    width: 100%;
  }
}




.center-text {
  h1 {
    color: white;
    font-size: 70px;
    font-family: 'SansPoster';
    font-family: 'Gracetians';
  }
}

.bannerHome {
  // min-height: 950px;
  // height: 100vh;
  // background-position: 50% 10%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute; // background-color: #001c2b;

}

.animated-background {
  background-image: url('../../../../assets/Images/LunarUtopia/lunar_background.png');
  // background-image: url(lunar_background.png);
  // background-size: cover;
  background-size: 1920px;
  background-position: center;
  background-position-y: -100px;
  transition: height 0.4s ease-in;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}








// .fractal2 {
//   width: 260px;
//   height: 300px;
//   bottom: 23px;
//   top: 225px !important;
//   left: 1200px !important;
//   z-index: 0;
//   @include spin($veryslow);

//   img {
//     width: 100%;
//   }
// }


// .fractal3 {
//   width: 300px;
//   height: 300px;
//   bottom: 23px;
//   top: 360px !important;
//   left: 1006px !important;
//   z-index: 0;
//   @include  spin(300s);

//   img {
//     width: 100%;
//   }
// }

// .fractal5 {
//   width: 300px;
//   height: 300px;
//   bottom: 23px;
//   top: 452px !important;
//   left: 818px !important;
//   z-index: 0;
//   animation: grow 60s infinite;

//   img {
//     width: 100%;
//   }
// }



@media screen and (max-height: 800px) {
  .animated-background {
    background-size: 1300px;

  }


  .circle {
    width: 450px;
    height: 451px;
    border-radius: 100%;
    position: absolute;
    /* background-color: azure; */
    right: 0;
    bottom: 0;
    margin: auto;
    left: -410px !important;
    top: -124px !important;
  }

  .parent {
    display: flex !important;
    position: absolute !important;
    right: 0;
    margin: auto;
    left: 120px !important;
    top: 40px !important;
    height: 600px;
    pointer-events: all;

    .lunar-text {
      position: absolute;
      right: 0;
      bottom: 0;
      top: -60px;
      left: 640px !important;
      margin: auto;
      width: 400px;
      height: 500px;
      text-align: center;
    }

    // .experiment {

    //   img {
    //     width: 600px;
    //     height: 600px;
    //     border-radius: 100%;
    //     position: absolute;
    //     right: 0;
    //     bottom: 0;
    //     margin: auto;
    //     left: -430px !important;
    //     top: 30px !important;
    //   }

    
    // }

  }

  .fractal1 {
    display: flex !important;
    position: absolute !important;
    right: 0;
    margin: auto;
    left: 70px !important;
    top: 480px !important;
    width: 140px;
    pointer-events: all;

  }

  

  .fractal2 {
    display: flex !important;
    position: absolute !important;
    right: 0;
    margin: auto;
    left: 1065px !important;
    top: 235px !important;
    width: 200px;
    /* height: 600px; */
    pointer-events: all;
    @include spin($veryslow);

    img {
      width: 100%;
    }
  }


  .fractal3 {
    display: flex !important;
    position: absolute !important;
    right: 0;
    margin: auto;
    left: 780px !important;
    top: 400px !important;
    width: 200px;
    /* height: 600px; */
    pointer-events: all;
    animation: grow 60s infinite;

    img {
      width: 100%;
    }
  }

  .fractal5 {
    display: flex !important;
    position: absolute !important;
    right: 0;
    margin: auto;
    left: 400px !important;
    top: 470px !important;
    width: 260px;
    /* height: 600px; */
    pointer-events: all;
    animation: grow 60s infinite;

    img {
      width: 100%;
    }
  }

 

}




/////////////////////////Animations///////////////////////////


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: rotate(1.3);
  }
}
