// .home-container {
//     width: 100%;
//     background-size: 114%;
//     background-position-x: -150px;
//     background-position-y: -185px;
//     height: -webkit-fill-available;
//     background-image: url('../../../../assets/Images/LunarUtopia/lunar_background.png');
//     background-color: black;
//     position: relative;
// }
$veryslow: 100s;

@mixin spin($duration: 2s) {
  animation: spin $duration;
}

@mixin rotateTransform($degrees: 180deg) {
  // animation: spin  $duration;
  transform: rotate($degrees);


}

@mixin danceAnimation($duration) {


  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0)  ;
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0)  ;
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0)  ;
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0)  ;
    }
  }

  animation: shake $duration infinite;


}




////////////////////////////////////////////Mixins///////////////////////////////////@if 


.fractal1,
.fractal2,
.fractal3,
.fractal5 {

  img {
    transition: transform 4s ease-in-out;

  }
}


.circles-spin {
  .fractal1 {
    img {
      @include rotateTransform(720deg);
    }

  }

  .fractal5 {
    img {
      @include rotateTransform(680deg);
    }
  }

  .fractal3 {
    img {
      @include rotateTransform(312deg);
    }
  }

  .fractal2 {
    img {
      @include rotateTransform(177deg);
    }
  }
}

.circle {
  width: 600px;
  height: 600px;
  border-radius: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: auto;
  left: -430px !important;
  top: 30px !important;

  .bee {
    transition: transform 3s ease-in-out;
  }

  img {
    width: 220px;
    height: 220px;
  }

  .top-bee {
    top: -185px;
    right: 0;
    left: 0;
    position: absolute;
    margin: auto;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .left-top-bee {
    top: 30px;
    left: -180px;
    position: absolute;
    margin: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  .left-bottom-bee {
    bottom: 30px;
    left: -180px;
    position: absolute;
    margin: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleY(-1) scaleX(-1);
  }

  .center-bee-container {
    position: absolute;
    left: 40px;
    top: 0px;
    bottom: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 2s ease-in-out, left 2s ease-in-out;

    .center-bee {
      left: 0px;
      top: 0px;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 540px;
      height: auto;
      position: absolute;
      opacity: 1;
      cursor: pointer;
      transition: opacity 4s ease-in-out, left 1s ease-in-out;
    }

    .center-bee-gold {
      width: 430px;
      height: auto;
      position: absolute;
      z-index: 3;
      top: -48px;
      bottom: 0px;
      margin: auto;
      left: 40px;
      opacity: 0;
      transition: opacity 4s ease-in-out, left 1s ease-in-out;
    }


  }


  


  .center-bee-container:hover {
    transform: scale(1.3) ;
    // transform: rotate(180deg);
    // left: -52px;


    .center-bee {
      opacity: 0;
      // left: 48px;
    }

    .center-bee-gold {
      opacity: 1;
      // left: 80px;

    }

    // content:url("/assets/Images/LunarUtopia/bee1_gold.png");
  }

  .right-top-bee {
    top: 30px;
    right: -180px;
    position: absolute;
    margin: auto;
  }

  .right-top-bee:hover {
    // content:url("/assets/Images/LunarUtopia/social-media/fb.png");
  }

  .right-bottom-bee {
    bottom: 30px;
    right: -180px;
    position: absolute;
    margin: auto;
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
  }

  .bottom-bee {
    bottom: -185px;
    right: 0;
    left: 0;
    position: absolute;
    margin: auto;

  }

}

$danceDuration: 0.82s cubic-bezier(.36,.07,.19,.97);

.circle:hover {

  .top-bee {
    transform: rotate(180deg) scale(1.1);
  }

  .left-top-bee {
    transform: scaleX(-1) scale(1.1);

  }

  .right-top-bee {
    transform: scale(1.1);

  }

  .left-bottom-bee {
    transform: scaleY(-1) scaleX(-1) scale(1.1);
  }

  .right-bottom-bee {
    transform: scaleY(-1) scale(1.1);

  }

  .bottom-bee {
    transform: scale(1.1);

  }


  .bee-container {
    // @include danceAnimation($danceDuration);

  }

}

.parent {
  display: flex !important;
  position: absolute !important;
  right: 0;
  margin: auto;
  left: 5px !important;
  top: 143px !important;
  height: 600px;
  z-index: 1;
  pointer-events: all;

  .lunar-text {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 800px !important;
    margin: auto;
    width: 400px;
    height: 500px;
    text-align: center;

    .header {
      font-size: 33.5px;
      font-family: 'Roboto-condensed';
      text-align: center;
    }

    .lunar-utopia {
      h1 {
        font-size: 140px;
        font-family: 'Ultra-condensed';
      }


    }

    .footer {

      cursor: pointer;

      h3 {
        font-family: 'Volstead';
        font-size: 90px;
        font-weight: 100;

      }

      h4 {
        font-family: 'Roboto-condensed';
      }
    }

  }
}

.lunar-image {
  width: 300px;
}



#main-scene {
  width: 100%;
  height: 100%;
  min-height: 900px;
  background-color: black;
  position: relative;
  // background-size: 2000px;
  // position: relative;
  // min-height: 900px;
  // position: relative;
}

#flower {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  img {
    height: 100%;
  }
}

#eclipse {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;

  img {
    height: 100%;
  }
}

.header {

  transition: color 2s;



}

.header:hover {

  color: gold;

}


.footer {
  h3 {
    font-family: 'Volstead';
    font-size: 80px;
    color: #4e2508;
    font-weight: 100;
    transition: color 2s;
  }

  h4 {
    margin: 0;
    font-size: 25px;
    font-weight: 500;
  }
}

.footer:hover {
  h3 {
    color: gold;
  }
}

.fractal1 {
  display: flex !important;
  position: absolute !important;
  right: 0;
  margin: auto;
  width: 180px;
  top: 755px !important;
  left: 100px !important;
  pointer-events: all;
  @include spin(50s);

  img {
    width: 100%;
  }
}

.fractal2 {
  display: flex !important;
  position: absolute !important;
  right: 0;
  margin: auto;
  width: 250px;
  top: 440px !important;
  left: 1563px !important;
  @include spin($veryslow);

  img {
    width: 100%;
  }
}

.fractal3 {
  display: flex !important;
  position: absolute !important;
  right: 0;
  margin: auto;
  width: 300px;
  top: 515px !important;
  left: 832px !important;
  @include spin($veryslow);

  img {
    width: 100%;
  }
}

.fractal5 {
  display: flex !important;
  position: absolute !important;
  right: 0;
  margin: auto;
  width: 400px;
  top: 750px !important;
  left: 590px !important;
  @include spin($veryslow);

  img {
    width: 100%;
  }
}




.center-text {
  h1 {
    color: white;
    font-size: 70px;
    font-family: 'SansPoster';
    font-family: 'Gracetians';
  }
}

.bannerHome {
  // min-height: 950px;
  // height: 100vh;
  // background-position: 50% 10%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute; // background-color: #001c2b;

}

.animated-background {
  background-image: url('../../../../assets/Images/LunarUtopia/lunar_background.png');
  // background-image: url(lunar_background.png);
  // background-size: cover;
  background-size: 1920px;
  background-position: center;
  background-position-y: -100px;
  transition: height 0.4s ease-in;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}




@media screen and (max-height: 900px) {



  .animated-background {
    background-size: 1300px;
    // background-position-y: -50px;

  }


  .circle {
    width: 450px;
    height: 451px;
    border-radius: 100%;
    position: absolute;
    /* background-color: azure; */
    right: 0;
    bottom: 0;
    margin: auto;
    left: -410px !important;
    top: -124px !important;

    .top-bee {
      top: -74px;
    }

    .left-top-bee {
      top: 58px;
      left: -40px;
    }

    .right-top-bee {
      top: 58px;
      right: -40px;
    }

    .right-bottom-bee {
      bottom: 60px;
      right: -45px;
    }

    .left-bottom-bee {
      bottom: 60px;
      left: -45px;
    }

    .bottom-bee {
      bottom: -70px;
    }

    $beeDimensions: 120px;

    img {
      width: $beeDimensions;
      height: $beeDimensions;
    }

    .center-bee-container {
      left: 40px;
      top: 0px;
      bottom: 0;
      right: 0;
  
      .center-bee {
        width: 380px;
      }

      .center-bee-gold {
        width: 355px;
        left: 10px;
      }
  
      
  
  
    }

    .center-bee-container:hover {
      transform: scale(1.3) ;
      // transform: rotate(180deg);
      // left: -52px;
  
  
      .center-bee {
        opacity: 0;
        left: 0px;
      }
  
      .center-bee-gold {
        // width: 380px;
        left: 11px;
        
    
      }
  
      // content:url("/assets/Images/LunarUtopia/bee1_gold.png");
    }
  

  }

  .parent {
    display: flex !important;
    position: absolute !important;
    right: 0;
    margin: auto;
    left: 120px !important;
    top: 40px !important;
    height: 600px;
    pointer-events: all;

    .lunar-text {
      position: absolute;
      right: 0;
      bottom: 0;
      top: -60px;
      left: 640px !important;
      margin: auto;
      width: 400px;
      height: 500px;
      text-align: center;
    }

    // .experiment {

    //   img {
    //     width: 600px;
    //     height: 600px;
    //     border-radius: 100%;
    //     position: absolute;
    //     right: 0;
    //     bottom: 0;
    //     margin: auto;
    //     left: -430px !important;
    //     top: 30px !important;
    //   }


    // }

  }

  .fractal1 {
    display: flex !important;
    position: absolute !important;
    right: 0;
    margin: auto;
    left: 70px !important;
    top: 480px !important;
    width: 140px;
    pointer-events: all;
  }



  .fractal2 {
    display: flex !important;
    position: absolute !important;
    right: 0;
    margin: auto;
    left: 1065px !important;
    top: 235px !important;
    width: 200px;
    /* height: 600px; */
    pointer-events: all;
    @include spin($veryslow);

    img {
      width: 100%;
    }
  }


  .fractal3 {
    display: flex !important;
    position: absolute !important;
    right: 0;
    margin: auto;
    left: 780px !important;
    top: 400px !important;
    width: 200px;
    /* height: 600px; */
    pointer-events: all;
    animation: grow 60s infinite;

    img {
      width: 100%;
    }
  }

  .fractal5 {
    display: flex !important;
    position: absolute !important;
    right: 0;
    margin: auto;
    left: 400px !important;
    top: 470px !important;
    width: 260px;
    /* height: 600px; */
    pointer-events: all;
    animation: grow 60s infinite;

    img {
      width: 100%;
    }
  }




}




/////////////////////////Animations///////////////////////////


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: rotate(1.3);
  }
}


