<div #mainscene id="main-scene" fxLayout="column" fxLayoutAlign="center center">

  <div data-depth="0.08" class="bannerHome">
    <div class="animated-background">
    </div>
  </div>


  <div data-depth="0.12" id="eclipse">
    <img src="/assets/Images/LunarUtopia/eclipse.png" alt="">
  </div>

  <div class="circle">

    <img class="top-bee" src="/assets/Images/LunarUtopia/bee2.png" alt="">
    <img class="left-top-bee" src="/assets/Images/LunarUtopia/bee3.png" alt="">
    <img class="right-top-bee" src="/assets/Images/LunarUtopia/bee3.png" alt="">

    <img class="center-bee" src="/assets/Images/LunarUtopia/bee1.png" alt="">

    <img class="left-bottom-bee" src="/assets/Images/LunarUtopia/bee3.png" alt="">
    <img class="right-bottom-bee" src="/assets/Images/LunarUtopia/bee3.png" alt="">
    <img class="bottom-bee" src="/assets/Images/LunarUtopia/bee2.png" alt="">

  </div>

  <div class="lunar-text">

    <div class="header">
      - MoonDrum Presents -
    </div>

    <div class="lunar-utopia">
      <h1>Lunar</h1>
      <h1>Utopia</h1>
    </div>

    <div class="footer">
      <h3>Honey for life</h3>
      <h4>Gathering and Regeneration Retreat</h4>
    </div>

  </div>

  <!-- <div fxLayout="column" fxLayoutAlign="center center" data-depth="0.36"  id="center-bee">
    <img src="/assets/Images/LunarUtopia/bee1.png" alt="">

    <div>
      test 123
    </div>

    <div>
      test 123
    </div>

    <div>
      test 123
    </div>
  </div> -->


</div>
