<div [ngStyle]="(this.url === '/home' || this.url === '/') &&  {'position':'fixed', 'background-color': '#CAAB5F'}" id="header-container" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutAlign.lt-md="space-between center">

  <div fxFlex="0 0 auto" fxLayout="row" fxLayoutAlign="center center">
    <button fxHide type="button" aria-label="Toggle sidenav" mat-icon-button>
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <div class="title-container">
      <span>Moon</span>
      <span>Drum</span>
    </div>
  </div>



  <div fxFlex="0 0 auto" class="links-container" fxLayout="row" fxLayoutAlign="end center" >
    <p fxHide.lt-md [routerLink]="['/home']">Lunar Utopia</p> 
    <p fxHide.lt-md>|</p>
    <p fxHide.lt-md [routerLink]="['/cosmo-vision']">Cosmo-vision</p> 
    <p fxHide.lt-md>|</p>
    <p fxHide.lt-md [routerLink]="['/moondrum-community']">MoonDrum Community</p> 
    <p fxHide.lt-md>|</p>
    <p fxHide.lt-md class="facebook" (click)="openLink('https://www.facebook.com/OneHeartManyDrums/')">Facebook</p> 
    <p fxHide.lt-md>|</p>
    <p fxHide.lt-md class="twitter" (click)="openLink('https://www.twitter.com/MoonDrumP')">Twitter</p> 
    <p fxHide.lt-md>|</p>
    <p fxHide.lt-md class="instagram" (click)="openLink('https://www.instagram.com/moon_drum_productions/')">Instagram</p> 

    <p fxHide.gt-sm class="facebook" (click)="openLink('https://www.facebook.com/OneHeartManyDrums/')">F</p>
    <p fxHide.gt-sm class="twitter" (click)="openLink('https://www.twitter.com/MoonDrumP')">T</p>
    <p fxHide.gt-sm class="instagram" (click)="openLink('https://www.instagram.com/moon_drum_productions/')">I</p>


    <!-- <p [routerLink]="['/events']">Events</p> -->
    <!-- <p>Connect</p>
    <p>Blog</p> -->
   
    <!-- <p>The Moon Shop</p>
    <p>Portfolio</p> -->
  </div>

</div>
