#header-container {

  background-color: black;
  width: 100%;
  padding: 0 40px;
  z-index: 10;
  transition: background-color 2s ease-in-out;

  .links-container {

    p {
      cursor: pointer;
      color: white;
      font-size: 20px;
      margin: 0 4px;
      font-family: 'Roboto-condensed';
      transition: color 1s ease-in-out;
    }

    p:hover {
      color: gold;
    }

    .facebook {
      color: #4267b2;
    }

    .twitter {
      color: #1c94e0;
    }

    .instagram {
      color: #cd486b;

    }

  }

  .title-container {
    span {
      margin: 10px 0;
      color: white;
      font-size: 34px;
      font-family: 'Roboto-condensed';
      transition: color 1s ease-in-out;
    }

  }

  .title-container:hover {

    span {
      color: gold;
    }
  }
}
