<div fxLayout="column" fxLayoutAlign="center center" class="cosmo-vision-container">

  <div class="center-text">
    <h1>The MoonDrum Community</h1>
  </div>

  <div class="descriptive-text">

    <h3>
      The Membership Platform
    </h3>


    <p>
      This is the online platform to share, market, and promote your skills, products, and trades as your MoonDrum
      membership allows.
    </p>

    <p>
      Posts are approved by admins and are taken to be published on our official Facebook page as well as our web-page
      under the ‘Galactic Community’ where your profile is listed.
    </p>


    <p>
      To request a membership registration and find out more about joining the MoonDrum Network, please send us a
      message
      under the contact page.
    </p>

    <p>
      We abide collective synergy as the key to accelerated advancing of our full potential on an individual, collective
      and environmental level.
    </p>


    <p>

      Putting your ability to create (products, skills, trade) on the front of a changing world, to contribute to the
      solution and positive transformation.
    </p>


    <p>
      We invite like-minded, mindful, original & homegrown businesses/groups/individuals with a solution and
      contribution
      to a alternative yet advance and primordial reality in which we as a collective create.
    </p>


    <p>
      Bring in touch to get in touch.
    </p>

    <h4>
      Working in synergy to advance unity.

    </h4>

  </div>




</div>
