<section class="row">
  <div class="nine columns">
    <div #coverflow class="coverflow top10 bot10">
      <a (click)="setPrevImage()" class="prev-arrow"></a>
      <!-- <li *ngFor="let image of images" class="coverflow__image">
        <a>
          <img [src]="image.url" class="coverflow__image" />
        </a>
      </li> -->


      <a *ngFor="let image of images; index as i;" ><img  [ngClass]="calculateClass(i)" [src]="image.url" class="coverflow__image" /></a>
      <!-- <a ><img src="http://placehold.it/400x400.jpg" class="coverflow__image" /></a>
        <a ><img src="http://placehold.it/400x400.jpg" class="coverflow__image" /></a>
        <a ><img src="http://placehold.it/400x400.jpg" class="coverflow__image" /></a>
        <a ><img src="http://placehold.it/400x400.jpg" class="coverflow__image" /></a>
        <a ><img src="http://placehold.it/400x400.jpg" class="coverflow__image" /></a> -->
      <a (click)="setNextImage()" class="next-arrow"></a>
    </div>
  </div>
</section>
