.events-container {

    width: 100%;
    height: 100%;
    // background-image: url('../../../../assets/Images/Backgrounds/universe1.jpeg');
    background-size: 100%;
    background-color: black;
    overflow: hidden;
  
  }