<div>
  <h1>About</h1>

  <article>
    <h3>
      Power to the People!
    </h3>
    <br>
    <p>
      MoonDrum is a cause and community platform to promote social, ecological, and spiritual well-being. We intentionally create
      and collaborate events – reminding people to connect with Life through natural time.
      <br> On this journey shared, we observe and integrate the elements of natural time; a revolutionary module for harmonic
      synchronization that is aligned with the galactic heart.
      <br> Connecting to the elemental energies of earth, air, fire and water, and the seven directional guardians (North, East,
      South, West, Above, Below and Galactic Center), We enter a trans-formative consciousness that comes from awakening
      to cosmic consciousness. We realize cosmic consciousness also flows within us and as the resonance of cosmic consciousness
      unfolds through our synchronization with natural time we become sacramentally rooted in unity with the earth as one
      entity.
      <br> Out of synergistic centeredness, we open up the potential for us to receive our greatest desires and open to the full
      flowering of the mystic power of the universe. Synergy is the collective expression of individual harmony, the union
      of different parts in which the whole is exponentially greater than the sum of its parts. When two or more come together
      in synergy, the resonant vortices between the Earth, the galaxies, and divine archetypal energies are aligned, and
      all things become possible.
      <br> MoonDrum conspires co-creation as to hold a platform for production of creative-spiritual expression. We are inspired
      to awaken the full potential within everyone to share and cultivate the opportunity to design the experience of unity.
      <br> Music and Art; Social Networking Platform; Grassroots Business Platform; Skills Sharing; Permaculture & Regeneration;
      Creative Human Expression; Humanitarian; Community projects; Wellness; Sacred Ceremonies; Conscious Community
      <br> MoonDrum productions work towards creating the culture we want to express – the opportunity to design the experience
      of unity. Human creative potential holds the potent evolutionary playing field of all possibility. Here, as in the
      aboriginal dreamtime, there are no distinctions between then and now, real or imagined, dream or dreamer. In this expanded
      field, all things are not only possible but are constantly in the process of creation. In the framework of dreamtime,
      limiting constructs of “ordinary reality” such as time, space, and linear causality are freed into an expanded system.
      We are the conscious dreamers sustaining the larger dream that is emerging. As we align thought and intention in synergy
      it accesses the crystal grid network that encompasses universes. This energetic field seeds, supports, and empowers
      the creation of an unfolding reality. The ‘crystal grid network,’ is the energetic expression of the universe as an
      inseparable whole.
      <br> It is a cauldron of creation, a potent field in which all things are not only possible but constantly being created.
      Within this grid, the linear causality of time and space has been freed into an open system in which all time and all
      space exist and interact simultaneously.
      <br> Within the larger dream we are now birthing, dimensional realities are shifting and blending. This grid connects the
      larger holograms of reality with our own. Its energy lines connect all places, times and events – even those that are
      seemingly unrelated. All phenomena and all actions are part of this larger whole; it is the very foundation for telepathy
      and synchronicity. As above, so below. As without, so within! Time is the universal factor of synchronization and by
      taking back your time, you take back your life! By the people for the people- staying connected to Source.
      <br> Contribute your vision as an awakened member of the global rainbow family!
      <br>
    </p>

    <br>

    <p>

    </p>
  </article>
</div>
