      <!-- Swiper -->
      <div #testSlider class="swiper-container">
        <div class="swiper-wrapper">
          <div *ngFor="let swipe of SwiperImages" class="swiper-slide" style.backgroundImage="url({{swipe.url}})"></div>
          <!-- <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/2.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/3.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/4.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/5.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/6.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/7.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/8.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/9.jpg')"></div>
          <div class="swiper-slide" style="background-image:url('/assets/Images/Venue/10.jpg')"></div> -->
        </div>
        <!-- Add Pagination -->
        <div #pagination class="swiper-pagination"></div>
      </div>
