/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./custom-theme";
@import "./assets/fonts/fonts.scss";

html, body, app-root{
    display: block;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    

}

body {
  display: flex;
  flex-direction: column; /* creates rows out of the elements main and footer */
  height: 100vh; 
  margin:0;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
// ::-webkit-scrollbar-thumb {
//   background: #FF0000;
// }

h1, h2, h3 {
  margin: 0;
}

md-icon{
    font-family: 'Material Icons' !important;
  }

  .mat-icon{
    font-family: 'Material Icons' !important;
  }

  .mat-toolbar.mat-primary {
    background: black;
    color: white;
}