<div fxLayout="column" fxLayoutAlign="center center" class="cosmo-vision-container">

  <div class="center-text">
    <h1>Cosmo vision</h1>
  </div>

  <div class="descriptive-text">
    <p>
      MoonDrum Productions (registered NPO) serves as a cause and community platform to promote social, ecological, and
      spiritual well-being.Understanding culture as a game, we thrive to create events for the like-minded. Serving as a
      host in focus of synergy and inspiring resonance, towards a creative, conscious and kind community platform.
      MoonDrum conspires co-creation as to hold a platform for production of creative-spiritual expression. We are
      inspired to awaken the full potential within everyone to share and cultivate the opportunity to design the
      experience of unity.
    </p>
    <p>
      MoonDrum conspires co-creation through the platform for production of modern-tribal expression. Through
      collaborative events, we are inspired to awaken the fuller potential within people from all walks of life to share
      and cultivate the opportunity to design the experience of unity through creative expression.
      Music and Art; Humanitarian & Community projects; Conscious-ethical & Grassroots-Business Platform; Festivals of
      Eco-integrity. Social Networking Platform; Permaculture & Ecological Regeneration; Wellness; Sacred Ceremonies;
      Conscious Community
    </p>

    <p>
      MoonDrum Productions work towards progressing a peaceful culture. Human creative potential holds the potent
      evolutionary opportunity of all possibility. We are the co-creators of the larger dream emerging which calls for
      focused projects that accelerate the potential for regeneration on a ecological and social level.
      Time is the universal factor of synchronzation and by taking back your time, you take back your life! We choose
      the time for expansion of a greater humanity. By the people for the people.
      We invite you to join the MoonDrum tribe and contribute your vision as an awakened member of the global rainbow
      family and collaborate with us in creating cultural events that propel us towards our greatest collective destiny.

    </p>
    <p>
      Power to the People!
    </p>
  </div>




</div>
