.cosmo-vision-container {

  width: 100%;
  min-height: 100%;
  background-image: url('../../../../assets/Images/Backgrounds/Cosmo-vision.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;

}


.center-text {
  h1 {
    color: white;
    font-size: 70px;
    text-align: center;
  }


}

.descriptive-text {
  width: 70%;
  background-color: #00000096;
    padding: 60px;
    border-radius: 160px;

  p {
    color: white;
    font-size: 24px;
  }
}
